/*! bourbon START */
@import "../vendor/bourbon/app/assets/stylesheets/_bourbon";

$prefix-for-webkit: false !global;
$prefix-for-mozilla: false !global;
$prefix-for-microsoft: false !global;
$prefix-for-opera: false !global;
$prefix-for-spec: false !global;
$modular-scale-ratio: $major-second !global;
/*! bourbon END */
