html {
	background-color: $html-bg-color;
	color: $html-text-color;
}

body {
	background-color: $body-bg-color;
	color: $body-text-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	margin: 0;
}

figure {
	margin: 0;
}

figcaption {
	font-size: 0.875em;
	line-height: 1.4;
	padding: 1em;
	text-align: left;
}

a {
	color: $link-text-color;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		color: $link-text-color-hover;
		text-decoration: underline;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: $base-line-height 0;
}

h1,
.h1 {
	color: $h1-text-color;
	font: 37px/47px $base-font-family;
	letter-spacing: 2px;
	letter-spacing: 0;
	line-height: 47px;
	text-transform: none;
	word-spacing: 1px;
}

h2,
.h2 {
	color: $h2-text-color;
	font: 26px/36px $base-font-family;
	letter-spacing: 0;
	text-transform: none;
	word-spacing: 0;
}

h3,
.h3 {
	color: $h3-text-color;
	font: 20px/30px $base-font-family;
	letter-spacing: 1px;
	text-transform: uppercase;
	word-spacing: 2px;
}

h4,
.h4 {
	color: $h4-text-color;
	font: 18px/28px $base-font-family;
	letter-spacing: 0;
	text-transform: none;
	word-spacing: 0;
}

h5,
.h5 {
	color: $h5-text-color;
	font-size: $base-font-size;
	font-weight: bold;
	letter-spacing: 0;
	line-height: $base-line-height;
	text-transform: none;
	word-spacing: 0;
}

h6,
.h6 {
	color: $h6-text-color;
	font-size: $base-font-size;
	font-weight: bold;
	letter-spacing: 0;
	line-height: $base-line-height;
	text-transform: none;
	word-spacing: 0;
}

img {
	height: auto;
	margin: 0 auto;
	max-width: 100%;
	vertical-align: bottom;
}

nav {
	ol,
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		margin: 0;
	}
}

dl {
	margin: $base-line-height auto;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: $base-line-height;
	margin-left: 0;
}

ul,
ol {
	margin: $base-line-height 0;
	padding-left: $base-line-height;
}

li {
	margin: ($base-line-height / 2) 0;
}

hr {
	border: 0;
	border-top: 1px solid $line-gray;
	margin: $base-line-height auto;
}

table {
	border-collapse: collapse;
	margin: $base-line-height auto;
	text-align: left;
	width: 100%;
}

caption {
	margin-bottom: 0.625em;
}

th,
td {
	padding: 0.625em 1em;
}

tr.odd td {
	background: $white !important;
}

tr.even td {
	background: tint($line-light-gray, 25%) !important;
}

th {
	&:first-child {
		border-left: 1px solid $html-bg-color;
	}

	&:last-child {
		border-right: 1px solid $html-bg-color;
	}
}

th,
thead {
	background: $html-bg-color;
	color: $html-text-color;
}

tbody {
	box-shadow: 0 0 10px rgba($darker-text-color, 0.05);

	td {
		&:first-child {
			border-left: 1px solid $line-gray;
		}

		&:last-child {
			border-right: 1px solid $line-gray;
		}
	}

	tr {
		&:first-child td {
			border-bottom: 1px solid $line-gray;
		}

		&:nth-child(odd) td {
			background: $white;
		}

		&:nth-child(even) td {
			background: tint($line-light-gray, 25%);
		}
	}
}

tfoot {
	color: $lighter-text-color;
	font-size: 0.875em;
}
