// Media queries
$mq-xsmall: 0;
$mq-small:  600;
$mq-medium: 800;
$mq-large:  1000;
$mq-xlarge: 1200;

$small-up:     "(min-width: #{$mq-small}px)";
$medium-up:    "(min-width: #{$mq-medium}px)";
$large-up:     "(min-width: #{$mq-large}px)";
$xlarge-up:    "(min-width: #{$mq-xlarge}px)";
$max-width-up: "(min-width: #{$max-width + ($outer-container-margin * 2)})";

$small-down:     "(max-width: #{$mq-medium - 1}px)";
$medium-down:    "(max-width: #{$mq-large - 1}px)";
$large-down:     "(max-width: #{$mq-xlarge - 1}px)";
$max-width-down: "(max-width: #{$max-width + ($outer-container-margin * 2) - 1})";

$xsmall-only: "(min-width: #{$mq-xsmall}px) and (max-width: #{$mq-small - 1}px)";
$small-only:  "(min-width: #{$mq-small}px) and (max-width: #{$mq-medium - 1}px)";
$medium-only: "(min-width: #{$mq-medium}px) and (max-width: #{$mq-large - 1}px)";
$large-only:  "(min-width: #{$mq-large}px) and (max-width: #{$mq-xlarge - 1}px)";
$xlarge-only: $xlarge-up;
