.body-overflow {
	overflow: hidden;
	position: relative;

	.visual-grid-active &::after {
		bottom: 0;
		color: #fff;
		content: "";
		font-family: sans-serif;
		font-size: 9px;
		line-height: 1.5;
		padding: 5px;
		pointer-events: none;
		position: fixed;
		right: 0;
		text-transform: uppercase;
		z-index: 1000;

		@include media($xsmall-only) {
			background: orange;
			content: "xsmall";
		}

		@include media($small-only) {
			background: green;
			content: "small";
		}

		@include media($medium-only) {
			background: red;
			content: "medium";
		}

		@include media($large-only) {
			background: blue;
			content: "large";
		}

		@include media($xlarge-up) {
			background: rebeccapurple;
			content: "xlarge";
		}
	}
}
