.header {
	background-color: $silver;

	// add the gutters to the content element - refer to neat grid
	&__content {
		@include grid-column($grid-columns);
	}

	&__logo {
		margin: 0;

		a {
			display: inline-block;
			height: 75px;
			line-height: 75px;
			text-decoration: none;
		}

		.svg svg {
			height: 75px;
			margin-right: 0.5em;
			vertical-align: bottom;
			width: 75px;
		}
	}
}
