.wrap {
	@include outer-container;
	padding: 1em 0;
	position: relative;
}

@include media($max-width-down) {
	// add spacing on lower resolutions to grid / wrap containers
	body::before {
		width: auto;
	}

	body::before,
	.wrap {
		margin: 0 $outer-container-margin;
	}
}
